@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400;600;800&family=Poppins:wght@200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

*::selection {
    background-color: hsl(26, 100%, 55%);
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 2.5rem 4rem;
    user-select: none;
    width: 80%;
    margin: 0 auto;
}

.nav-logo {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

#menu {
    list-style-type: none;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 0.3rem;
}

.menu-item {
    display: inline-block;
    margin-right: 1rem;
    color: black;
    opacity: 0.5;
    transition: all 0.2s ease;
}

.menu-item a{
    position: relative;
    
}

.menu-item a::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: hsl(26, 100%, 55%);
    position: absolute;
    top: 100%;
    left: 0; 
    transition: all 0.3s ease;
}

.menu-item a:hover::before{
    width: 100%;
}

.menu-item:hover {
    opacity: 1;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 0.3rem;
    position: relative;
}

.cart {
    font-size: 1.7rem;
    margin-top: 0.3rem;
    position: relative;
    cursor: pointer;
}

.profile {
    display: grid;
    place-content: center;
    cursor: pointer;
}

.profile, img[alt="profilePic"] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid hsl(26, 100%, 55%);
}

.nav-line {
    width: calc(100% - 8rem);
    margin: 0 auto;
    background-color: grey;
    opacity: 0.2;
    z-index: 0;
    height: 2px;
}

.cart-box {
    position: absolute;
    right: 60px;
    top: 50px;
    width: 290px;
    height: 170px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.07);
    z-index: 200;
    display: none;
}

.cart-box .cart-header {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.4rem;
    height: 40px;
    border-bottom: 1px solid grey;
    background-color: #fff;
}

.cart-box .cart-main {
    height: 130px;
    width: 100%;
    position: relative;
    background-color: #fff;
}

.cart-main p {
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    top: 45%;
    left: 27%;
}

.show-cart {
    display: block;
}

main {
    width: 68%;
    height: 80vh;
    /* border: 2px solid black; */
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    padding-left: 4rem;
}

.product-photo{
    height: inherit;
    width: 100%;
    user-select: none;
    /* border: 2px solid skyblue; */
}

.main-photo , .main-photo img{
    height: 80%;
    width: 100%;
    border-radius: 0.5rem;
}

.photo-gallery {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: space-evenly;
}

.photo-gallery img {
    width: 75px;
    height: 75px;
    margin-top: -80px;
    border-radius: 0.2rem;
}

.currImg {
    opacity: 0.4;
    border: 3px solid hsl(26, 100%, 55%);
}

.product-info{
    padding: 1rem;
    margin-left: 1rem;
}

#product-title {
    font-size: 1rem;
    font-weight: bold;
    color: hsl(26, 100%, 55%);
    margin-bottom: 0.875rem;
}

#product-name {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#product-desc {
    font-weight: 500;
    color: black;
    opacity: 0.75;
    margin-bottom: 1.5rem;
    width: 80%;
}

.price-display {
    width: 20%;
    position: relative;
    margin-bottom: 2rem;
    user-select: none;
}

.main-price {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

.actual-price {
    font-size: 1.75rem;
    font-weight: bold;
}

.discount {
    padding: 0.2rem 0.6rem;
    background-color: hsl(27, 100%, 88%);
    color: hsl(26, 100%, 55%);
    font-weight: bold;
    font-size: 0.95rem;
    border-radius: 0.4rem;
}

.disc-price {
    font-size: 1rem;
    text-decoration: line-through;
    color: grey;
    font-weight: 600;
}

.product-amount {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    user-select: none;
}

.amount {
    display: flex;
    font-size: 1.5rem;
    width: 25%;
    height: 40px;
    background: aliceblue;
}

.minus, .amount-val, .plus {
    width: calc(100% / 3);
    /* border: 1px solid black; */
    display: grid;
    place-content: center;
    transition: all 0.2s ease;
    font-weight: bold;
    color: hsl(26, 100%, 55%);
}

.amount-val {
    color: black;
    font-weight: normal;
}

.minus:hover, .plus:hover {
    background-color: #e1e1e1;
}

#add-item {
    width: 260px;
    height: 40px;
    border: none;
    background: hsl(26, 100%, 55%);
    color: white;
    transition: all 0.2s ease;
}

#add-item:hover {
    background-color: hsl(27, 100%, 72%);
}

.product-added {
    width: 100%;
    height: 130px;
    padding: 0.5rem;
    display: none;
    z-index: 200;
    background: #fff;
}

.product-added .item-added {
    width: 100%;
    height: 50%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.item-added img {
    width: 50px;
    height: 50px;
    border-radius: 0.3rem;
}

.cart-info {
    align-self: flex-start;
    font-size: 0.875rem;
    line-height: 1.4rem;
    margin-top: 0.2rem;
}

.delete {
    font-size: 1rem;
    margin-left: 0.3rem;
    cursor: pointer;
}

#checkout {
    width: 95%;
    height: 2.5rem;
    margin-left: 4px;
    margin-top: 0.6rem;
    border: none;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
    z-index: 200;
}

.total-cost {
    font-weight: bold;
}

.badge {
    position: absolute;
    font-size: 0.75rem;
    background-color: hsl(26, 100%, 55%);
    color: white;   
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: grid;
    place-content: center;
    left: 1rem;
    top: 0.3rem;
    display: none;
}